* {
    padding: 0;
    margin: 0;
    font-family: Arial,Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-left: 15%;
    padding-right: 15%;
}

.hero {
    width: 100%;
}

.nav {
    height: 54px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.nav div p {
    margin-top: 5px;
    font-size: 24px;
    color: #F9FAF8;
}

.logo {
    height: 50px;
    width: 50px;
}

.links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    height: 371px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 5px;
    padding-top: 70px;
}

.mainText {
    width: 50%;
}

.mainImage {
    width: 50%;
    margin: 100px 50px;
    background-color:dimgray;
    border-radius: 10px;
    padding: 0 10px;
}

.main h1{
    margin-top: 100px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main p {
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.signUp {
    background-color: #3882F6;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.signUp p {
    padding-top: 10px;
    text-align: center;
}

.mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    height: 430px;
    padding-left: 15%;
    padding-right: 15%;
    gap: 20px;
    padding-top: 70px;
}

.info h1 {
    margin: 0 25% 50px;
    text-align: center;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}

.infoHolder {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.infoImage {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    height: 430px;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    align-items: center;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0 25%;
    text-align: left;
}

.attribution {
    font-size: 22px;
    font-weight: bold;
    margin-left: 70%;
}

.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    padding-left: 15%;
    padding-right: 15%;
}

.ctaOuter {
    background-color: #3882F6;
    border-radius: 20px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctaInner {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ctaInner h1 {
    margin-bottom: 5px;
}

.ctaSignUp {
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctaFont {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #1F2937;
    color: white;
}